/*
 * Copyright (C) Digital India Corporation (Media Lab Asia)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
/* 
    Created on : Dec 14, 2015, 2:51:52 PM
    Author     : Amit Kumar Singh
	
	Updated on : Aug 12, 2021, 3:55:11 PM
	Author     : Aatif Ahmad Khan
	Update     : Added style for menu-button (upgrading to JavaFX 8, default theme MODENA -> CASPIAN)
*/

.button {
    -fx-text-fill: #000000;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#E7EFF6, #C1D5E8);
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #515151; 
    
}
.button:hover {
    -fx-border-width: 3 3 3 3;
    -fx-border-color: #7a8a99; 
    
}

.label{
    -fx-wrap-text:true;
    -fx-text-alignment: center;
    -fx-alignment: CENTER;
    -fx-font-size: 12pt;
    -fx-font-family: "Arial";
    -fx-text-fill: #000000;
    -fx-opacity: 1;
    /*
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    */
}

.menu-bar { 
    -fx-background-color: linear-gradient(#000000,#5C594A);
}

.menu {
    -fx-font-weight: bolder;
    -fx-background-color: linear-gradient(#000000,#5C594A);
}
.menu:showing { 
    -fx-background-color: #4D81B8;
}
.menu:hover {
    -fx-background-color: #4D81B8;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
}
.menu .label { 
    -fx-wrap-text:true;
    -fx-text-alignment: center;
    -fx-alignment: CENTER;
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #FFFFFF;    
}

.menu-selected{
    -fx-background-color: linear-gradient(#FFD765,#FFFC92);
}
.menu-unselected{
    -fx-background-color: linear-gradient(#000000,#5C594A);
}
.menu-selected-label{
    -fx-text-fill: #000000;
}
.menu-unselected-label{
    -fx-text-fill: #FFFFFF;
}

.menu-item {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000; 
}
.menu-item .label{
    -fx-wrap-text:true;
    -fx-text-alignment: center;
    -fx-alignment: CENTER;
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #000000; 
}
.menu-item:hover {
    -fx-background-color: #CCE3F4;
    -fx-text-fill: #000000; 
}
.menu-item:focused {
    -fx-background-color: #CCE3F4;
    -fx-text-fill: #000000; 
}

.menu-button{
    /*-fx-skin: "com.sun.javafx.scene.control.skin.MenuButtonSkin";*/
    -fx-background-color: transparent;
    -fx-text-fill: #00FF00;
    -fx-wrap-text:true;
    -fx-alignment: TOP_RIGHT;
    -fx-content-display:right;
    -fx-text-alignment:right;
    -fx-padding: 0; 
    -fx-spacing: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-background-color: transparent;
}

.tool-bar {
    -fx-background-position: left bottom;
    -fx-background-image: url("img/bottom_border.png");
    -fx-background-repeat: repeat-x;    
    -fx-background-color: linear-gradient(#f3e19f, #e8cf8d);
    -fx-padding: 0.0 0.0 10.0 0.0;
    -fx-alignment: TOP_LEFT;
}
.flow {
    -fx-padding: 0.0 0.0 0.0 0.0;
    -fx-alignment: TOP_LEFT;
    -fx-hgap: 0;
    -fx-vgap: 0;    
    -fx-text-alignment: center; 
}

.toolbar-button {
    -fx-spacing: 0 ; 
    -fx-padding: 5.0 5.0 5.0 5.0;
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-border-width: 0 1 0 1; /*top right bottom left */
    -fx-border-color: #ffffff #da9e58 #000000 #fce179;
}

.toolbar-button:hover {
    -fx-background-color: linear-gradient(#FF9033,#FFD765);
    -fx-border-width: 0;
}
/*
.toolbar-button:selected {
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-background-color: linear-gradient(#FF9033,#FFD765);
    -fx-border-width: 0;
}
.toolbar-button:showing { 
    -fx-background-color: #FAE09D;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
}
.toolbar-button:focused {
    -fx-background-color: #F0D590;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
}
*/
.context-menu {
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1 1 1 1; /*top right bottom left */
    -fx-border-color: #333333;    
    /*
    -fx-border-color: #a9cae3; 
    -fx-border-color: #e8cf8d #FFFC92 #FFD765 #f3e19f;
    */
    /*-fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/
}
.context-menu:hover {
    /*-fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";*/
    -fx-background-color: #FFFFFF;
}
.context-menu .menu-item:hover {
    -fx-background-color: #CCE3F4;
}
.context-menu .separator-menu-item {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #a9cae3;
    -fx-fill: #a9cae3;
    -fx-width: 1;
}
.context-menu .separator-menu-item:hover {
    -fx-background-color: #CCE3F4;
    -fx-text-fill: #FFFFFF;    
}

.separator{
    -fx-background-color: #515151;
}
/*.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #a9cae3;
}
*/

.slider {
    -fx-background-insets: 0; 
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-insets: 0;
}
/*
.slider .thumb {
    -fx-opacity:0;
}

.slider .track {
    -fx-background-color: null;
    -fx-pref-height: 20px;
    -fx-background-insets: 0; 
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-insets: 0;
}*/
#artwork-slider .thumb {
    -fx-opacity:0;
}

#heading{
    -fx-font-size: 15pt;
    -fx-font-weight:bold;
    /*-fx-fill:#FFD765;
    -fx-text-fill:#FFD765;
    -fx-background-color:#FF9033;*/
}

.sub-menu {
    /*-fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";*/
    -fx-background-color: #FFFFFF;
    -fx-font-size: 11pt;
    -fx-text-fill: #000000;    
    /*-fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/
}
.sub-menu:hover {
    -fx-background-color: #CCE3F4;
    -fx-text-fill: #FFFFFF;    
}

.tooltip{
    /*-fx-graphic:url('img/icontooltip.png');
    -fx-wrap-text:true;*/
    -fx-graphic-text-gap:10;
    -fx-content-display:left;
    -fx-text-alignment:justify;
    -fx-font-weight:bold;    
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
    -fx-background-color: #c9cecf;
}
.scroll-pane:focused {
    -fx-background-insets: 0;
}
.scroll-pane .corner {
    -fx-background-insets: 0;
}

.VBox{
    -fx-background-image: url("img/separator.png");
    -fx-padding: 10.0 0.0 0.0 0.0;
    -fx-background-repeat: no-repeat;
    -fx-text-alignment: center;
    -fx-alignment: TOP_CENTER;
    -fx-wrap-text:true;
    -fx-spacing: 6; 
    -fx-text-fill: #093d72;
    -fx-font-family: "Tahoma";
    -fx-font-size: 11pt;
    -fx-background-color: transparent;
}
.VBox:hover {
    -fx-background-color: linear-gradient(#FF9033,#FFD765);
}
.VBox:showing { 
    -fx-background-color: #FAE09D;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
}
.VBox:focused {
    -fx-background-color: #F0D590;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
}
.HBox {
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 6; 
    -fx-background-color: #171615;
}

.myBox{
    -fx-padding: 3;
    -fx-text-alignment: center;
    -fx-alignment: TOP_CENTER;
    -fx-wrap-text:true;
    -fx-spacing: 5; 
    -fx-text-fill: #093d72;
    -fx-font-family: "Tahoma";
    -fx-font-size: 11pt;
    -fx-wrap-text:true;
    -fx-background-color: transparent;
}

.myBox:hover {
    -fx-border-width: 3;
    -fx-border-color: #7a8a99;    
    -fx-background-color: #99abbb;
}

.myBox:showing { 
    -fx-border-width: 3;
    -fx-border-color: #7a8a99;    
    -fx-background-color: #99abbb;
}

.myBox:focused {
    -fx-border-width: 3;
    -fx-border-color: #7a8a99;
    -fx-background-color: #99abbb;
}


#popup{
    -fx-background-color: #c9cecf;
    -fx-padding: 5;
    -fx-border-width: 3;
    -fx-border-color: #7a8a99; 	
}

#subpopup{
    -fx-padding: 5;
    -fx-border-width: 1;
    -fx-border-color: #7a8a99; 
    -fx-background-color: #99abbb;
}

.subpopup{
    -fx-spacing: 0;
    -fx-line-spacing:0;
    -fx-alignment: TOP_CENTER;
    -fx-text-alignment: left;
    -fx-border-width: 1;
    -fx-border-color: #7a8a99; 
    -fx-border-radius: 0;
    /*-fx-opacity: 1;*/
    -fx-padding: 5; /*top right bottom left*/
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-repeat: repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-color: rgb(153, 171, 187);
    /* -fx-background-color: #99abbb; */
    /*-fx-background-image: url("../media/splash.png");*/
}

.dummypopup{
    -fx-spacing: 0;
    -fx-padding: 5; /*top right bottom left*/
    -fx-line-spacing:0;
    -fx-alignment: TOP_CENTER;
    -fx-text-alignment: left;
    -fx-border-width: 2;
    -fx-border-color: #b1b9bf; 
    -fx-border-radius: 0;
    /*-fx-opacity: 1;*/
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-repeat: repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-color: rgb(187, 195, 201);
    /* -fx-background-color: #bbc3c9; */
    /*-fx-background-image: url("../media/splash.png");*/
}

#dummypopup{
    -fx-padding: 5;
    -fx-border-width: 2;
    -fx-border-color: #b1b9bf;
    -fx-background-color: #bbc3c9;
}

#btnYes {
    -fx-text-fill: #ffffff;
    -fx-padding: 1;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    -fx-border-color: #515151; 
    -fx-background-color: linear-gradient(#00ff00, #009900);
    -fx-effect: dropshadow( three-pass-box , rgba(1,1,0,0.6) , 5, 0.0 , 0 , 1 );    
}

#btnNo {
    -fx-text-fill: #ffffff;
    -fx-padding: 1;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-border-width: 0;
    -fx-border-color: #515151; 
    -fx-background-color: linear-gradient(#ff0000, #990000);
    -fx-effect: dropshadow( three-pass-box , rgba(1,1,0,0.6) , 5, 0.0 , 0 , 1 );
}

#topContainer{
    
}

#footContainer{
    -fx-border-width: 2 0 0 0;
    -fx-border-color: #7a8a99; 
    -fx-background-color: #ffffff;
}

#containerGP {
   -fx-alignment: TOP_CENTER;
   -fx-vgap: 10;
   -fx-hgap: 10;
}

#leftPane{
   -fx-background-image: url("img/side_panel_bg.png");
   -fx-background-repeat: repeat;
   -fx-alignment: TOP_LEFT;
   -fx-valignment: top;
   -fx-text-alignment: justify;
   -fx-text-fill: #FFFFFF;
   -fx-fill: #FFFFFF;
   -fx-wrap-text:true;
   -fx-font-size: 12px;
   -fx-font-family: "Tahoma";
   -fx-padding: 0.0 0.0 0.0 10.0;
   -fx-vgap: 0;
   -fx-hgap: 0;
}

#leftPane .label{
   -fx-text-fill: #000000;
   -fx-fill: #000000;
   -fx-wrap-text:true;
   -fx-font-size: 12px;
   -fx-font-family: "Tahoma";
   -fx-padding: 0.0 0.0 0.0 10.0;
   -fx-vgap: 0;
   -fx-hgap: 0;
}

#caption{
    -fx-wrap-text:true;
    -fx-text-alignment: center;
    -fx-alignment: CENTER;
    -fx-font-size: 18pt;
    -fx-font-weight:bold;
    -fx-font-family: "Arial";
    -fx-text-fill: #012345;
    -fx-opacity: 1;
    -fx-fill: #012345;
    -fx-effect: innershadow( three-pass-box , rgba(0,255,0,0.7) , 6, 0.0 , 0 , 2 );
}

#message {    
   -fx-padding: 0.0 0.0 0.0 20.0;
   -fx-font-size: 14px;
   -fx-font-family: "Arial Black";
   -fx-text-fill: #000000;
   /*-fx-fill: #171615;
   -fx-effect: innershadow( three-pass-box , rgba(0,255,0,0.7) , 6, 0.0 , 0 , 2 );*/
}

#result {    
   -fx-font-size: 20px;
   -fx-font-family: "Arial Narrow";
   -fx-text-fill: #FF0000;
   -fx-fill: #171615;
   -fx-effect: innershadow( three-pass-box , rgba(0,255,0,0.7) , 6, 0.0 , 0 , 2 );
}