<table border=0 width="100%">
<tr>
<td><h1>Digital India Corporation (Media Lab Asia)</h1></td>
<td><h6 align=right>
DigiBunai™ 0.9.2 Alpha: Fabric_FABRIC1847USER_2018-08-17_10-50-50<br>
<a href="http://www.medialabasia.in">http://www.medialabasia.in</a><br>
&copy; Digital India Corporation (Media Lab Asia); New Delhi, India<br><br>Fri Aug 17 10:50:50 IST 2018
</h6></td>
</tr>
</table>
<table border='1' cellspacing='0' cellpadding='5'>
<tr align=right><th>Fabric Category</th><td>Body</td></tr>
<tr align=right><th>Fabric Type</th><td>Plain</td></tr>
<tr align=right><th>Name</th><td>test1_Body</td></tr>
<tr align=right><th>Fabric raw length</th><td>256.0 inch</td></tr>
<tr align=right><th>Fabric width</th><td>47.0 inch</td></tr>
<tr align=right><th>Reed Count</th><td>100</td></tr>
<tr align=right><th>Dents per Inch</th><td>50</td></tr>
<tr align=right><th>Thread Per Dents</th><td>1</td></tr>
<tr align=right><th>Picks</th><td>298</td></tr>
<tr align=right><th>Hooks</th><td>240</td></tr>
<tr align=right><th>Ends</th><td>240</td></tr>
<tr align=right><th>Picks Per Inch</th><td>60 / inch</td></tr>
<tr align=right><th>Hooks Per Inch</th><td>50 / inch</td></tr>
<tr align=right><th>Ends Per Inch</th><td>50 / inch</td></tr>

<tr align=right><th>Artwork length</th><td>4.967 inch</td></tr>
<tr align=right><th>Artwork width</th><td>4.8 inch</td></tr>
<tr align=right><th>Number of Warp Yarn</th><td>2350.0</td></tr>
<tr align=right><th>Weight of Warp Yarn</th><td>16.978 gram</td></tr>
<tr align=right><th>Length of Warp Yarn</th><td>15280.64 meter</td></tr>
<tr align=right><th>Number of Figured/Weft Yarn</th><td>15360.0</td></tr>
<tr align=right><th>Weight of Figured/Weft Yarn</th><td>20.374 gram</td></tr>
<tr align=right><th>Length of Figured/Weft Yarn</th><td>18336.768 meter</td></tr>
</table>

<table border=1 cellspacing=0>
<caption>Warp Thread Pattern 	1A</caption>
<tr align=right><th>Warp</th><th>Name</th><th>Thread Type</th><th>Thread Repeat</th><th>Thread Count</th><th>Thread Count Unit</th><th>Thread Ply</th><th>Thread Dimension factor</th><th>Thread Diameter(mm)</th><th>Thread Weight(kg)</th><th>Thread Price(kg)</th><th>Thread Twist Count/ inch</th><th>Thread Twist Scene</th><th>Thread Hairiness</th><th>Thread Distribution</th><th>Thread Color</th></tr>
<tr align=right><td>A</td><td>Silk</td><td>Warp</td><td>1</td><td>22</td><td>Denier (Td)</td><td>1</td><td>18</td><td>0.087</td><td>-</td><td>1.0</td><td>0</td><td>O</td><td>0</td><td>0</td><th bgcolor="#CCAE59">#CCAE59</th></tr>
</table>
<table border=1 cellspacing=0>
<caption>Weft Thread Pattern 	 1a</caption>
<tr align=right><th>Weft</th><th>Name</th><th>Thread Type</th><th>Thread Repeat</th><th>Thread Count</th><th>Thread Count Unit</th><th>Thread Ply</th><th>Thread Dimension factor</th><th>Thread Diameter(mm)</th><th>Thread Weight(kg)</th><th>Thread Price(kg)</th><th>Thread Twist Count/ inch</th><th>Thread Twist Scene</th><th>Thread Hairiness</th><th>Thread Distribution</th><th>Thread Color</th></tr>
<tr align=right><td>a</td><td>Silk</td><td>Weft</td><td>1</td><td>22</td><td>Denier (Td)</td><td>1</td><td>18</td><td>0.123</td><td>-</td><td>1.0</td><td>0</td><td>O</td><td>0</td><td>0</td><th bgcolor="#F1E6C7">#F1E6C7</th></tr>
</table>
<table border=1 cellspacing=0>
<caption>Extra Weft</caption>
<tr align=right><th>Extra Weft</th><th>Name</th><th>Thread Type</th><th>Thread Repeat</th><th>Thread Count</th><th>Thread Count Unit</th><th>Thread Ply</th><th>Thread Dimension factor</th><th>Thread Diameter(mm)</th><th>Thread Weight(kg)</th><th>Thread Price(kg)</th><th>Thread Twist Count/ inch</th><th>Thread Twist Scene</th><th>Thread Hairiness</th><th>Thread Distribution</th><th>Thread Color</th></tr>
<tr align=right><td>#</td><td>Silk</td><td>Extra Weft</td><td>1</td><td>22</td><td>Denier (Td)</td><td>1</td><td>18</td><td>0.123</td><td>-</td><td>1.0</td><td>0</td><td>O</td><td>0</td><td>0</td><th bgcolor="#243EAB">#243EAB</th></tr>
<tr align=right><td>#</td><td>Silk</td><td>Extra Weft</td><td>1</td><td>22</td><td>Denier (Td)</td><td>1</td><td>18</td><td>0.123</td><td>-</td><td>1.0</td><td>0</td><td>O</td><td>0</td><td>0</td><th bgcolor="#E14349">#E14349</th></tr>
</table>
<br><b>Graph View<b><br>
<img src="file:\\C:\Users\CADTOOL\Desktop\Screens\Cut Shots\HTMLFabric_FABRIC1847USER_2018-08-17_10-50-50.png" width="298" height="240" >
<br> This is coumputer generated, So no signature required<br>
