/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 10, 2015, 6:26:23 PM
    Author     : acer
*/
.menu .label { 
    -fx-wrap-text:true;
    -fx-text-alignment: center;
    -fx-alignment: CENTER;
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #FFFFFF;
    
}

.border-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-opacity: 0.5;
    -fx-background-repeat: repeat;
    -fx-background-position: center;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base,+50%), derive(-fx-base,-40%), derive(-fx-base,-20%));
}

.grid-pane {
    -fx-hgap: 10;
    -fx-vgap: 10; 
    -fx-spacing: 10;
    -fx-line-spacing:10;
    -fx-padding: 25;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-background-image: url("../media/d_main.png");
}
#grid {
    -fx-hgap: 10;
    -fx-vgap: 10; 
    -fx-spacing: 10;
    -fx-line-spacing:10;
    -fx-padding: 25;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left center;
    -fx-background-image: url("../media/d_main.png");
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#welcome-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#actiontarget {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}